@font-face {
  font-family : 'prtnight';
  src : url("Cafe24Oneprettynight-v2.0.otf")
}
html{
	font-family : 'prtnight';
  	background-image: url("background-img.png");
  	background-size : cover;
  	padding-top:10%;
  	background-repeat: no-repeat;
  	text-align:center;
}

input{
    width: 60%;
    margin: 3px;
    border-radius: 5px;
    padding: 8px 18px;
    box-sizing: border-box;
}

form{
    width:25rem;
    margin: auto;
    padding-top:10px;
    padding-bottom:10px;
    color:#C7DBF2;
    backdrop-filter: saturate(180%);
    background-color: rgba(11, 15, 13, 0.582);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    box-shadow: 5px 5px;
}

.user-btn{
    font-family : 'prtnight';
    border: 0;
     padding: 10px;
     margin:5px;
     display: inline-block;
     text-align: center;
   color: #000000;
   background: #fff;
   font-size: 14px;
   border-radius: 5px;
   position: relative;
   box-sizing: border-box;
   transition: all 200ms ease;
}

.container {
	  font-family : 'prtnight';
	  color : #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
.child {
  margin:5px;
}



